<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TESTANDO COM O EJS 5</h1>
    <p>Nome: <%= nome %></p>
  <!--   <img src="http://www.logotipo.pt/wp-content/uploads/2016/12/ERRO.jpg"> -->
    <img src="suptic.png" />
</body>
</html>